<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Notice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of notice | keyvalue">
      <ion-label (click)="presentModal(item.key, item.value.fileName)">
        <h3>{{ item.key }} - <small> {{ item.value.message }}</small></h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>