<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="addPuchList()">
        <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Push List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="punchList.length > 0; else elseTemplate">
      <ion-list>
        <ion-item button *ngFor="let item of punchList; let i = index;">
          <ion-label (click)="setDetail(item)">
            <h3>Punch List {{ i + 1 }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-text>No Puch List Found</ion-text>
    </ng-template>
  </ion-list>
</ion-content>