ion-grid {
  margin-top: 20px;
  ion-row{ 
    ion-card{ 
      width:100% !important; 
      margin: 0 !important; 
      text-align: center;
      background-color:#f7f7f7;
      color: #333333;
      ion-card-content {
        height: 10rem;
        line-height: 7.5rem;
      }
    } 
  }
}